.tron-body {
    overflow: scroll;
    height: 500px;
    overflow-x: hidden;
  }

  .manage-table{
    margin: 4rem 4rem 4rem 0;
    padding: 2rem;
    background-color: lightgray;
    border-radius: 1rem;
  }
 